{% extends 'app/base.html' %}
{% load static %}

{% block content_giatgaubong %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="kk-star-ratings kksr-auto kksr-align-left kksr-valign-top" data-payload="{&quot;align&quot;:&quot;left&quot;,&quot;id&quot;:&quot;7339&quot;,&quot;slug&quot;:&quot;default&quot;,&quot;valign&quot;:&quot;top&quot;,&quot;ignore&quot;:&quot;&quot;,&quot;reference&quot;:&quot;auto&quot;,&quot;class&quot;:&quot;&quot;,&quot;count&quot;:&quot;221&quot;,&quot;legendonly&quot;:&quot;&quot;,&quot;readonly&quot;:&quot;&quot;,&quot;score&quot;:&quot;4.3&quot;,&quot;starsonly&quot;:&quot;&quot;,&quot;best&quot;:&quot;5&quot;,&quot;gap&quot;:&quot;5&quot;,&quot;greet&quot;:&quot;Rate this post&quot;,&quot;legend&quot;:&quot;4.3\/5 - (221 b&#xec;nh ch&#x1ecdn)&quot;,&quot;size&quot;:&quot;24&quot;,&quot;title&quot;:&quot;Gi&#x1eb7;t G&#x1ea5;u B&#xf4;ng&quot;,&quot;width&quot;:&quot;122.2&quot;,&quot;_legend&quot;:&quot;{score}\/{best} - ({count} {votes})&quot;,&quot;font_factor&quot;:&quot;1.25&quot;}">
                <div class="kksr-stars-active" style="width: 122.2px;">
                    <div class="kksr-star" style="padding-right: 5px">
                        <div class="kksr-icon" style="width: 24px; height: 24px;"></div>
                    </div>
                </div>
            </div>
            <h2 style="text-align: center; color: #ff99cc;"><strong>GIẶT GẤU BÔNG – LÀM MỚI BÔNG GẤU TẠI GẤU BÔNG ONLINE</strong></h2>
            <div class="xdj266r x11i5rnm xat24cr x1mh8g0r x1vvkbs x126k92a">
                <h3 style="text-align: center; color: #33cccc;">Bao lâu rồi bạn chưa cho gấu iu của mình đi “tắm” nhỉ?</h3>
            </div>
            <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">
                <p>Cũng như những đồ dùng khác trong nhà, gấu bông cần được giặt và khử khuẩn thường xuyên để loại bỏ hết bụi bẩn và vi khuẩn trong quá trình sử dụng. Tuy nhiên không phải ai trong số chúng mình cũng biết giặt gấu đúng cách. Cùng nhà Gấu tham khảo quy trình “chuẩn không tì vết” này nhé! Nếu bạn đang có ý định tân trang cho gấu bông của mình, đừng quên ghé cửa hàng Gấu Bông gần nhất và sử dụng dịch vụ giặt gấu của chúng mình nhé!</p>
            </div>
            <p style="color: #02c4c1;"><strong><span class="_7oe">▪️ QUY TRÌNH GIẶT &amp; KHỬ KHUẨN</span></strong></p>
            <ul>
                <li><strong>BƯỚC 1:</strong> Bạn mang gấu bẩn tới Shop và giao cho nhân viên.</li>
                <li><strong>BƯỚC 2:</strong> Giặt và Khử Khuẩn. Giá tính theo trọng lượng Bông và loại vỏ Gấu.</li>
                <ul>
                    <li>Tách vỏ gấu và bông gấu.</li>
                    <ul>
                        <li>VỎ: Giặt chuyên nghiệp và sấy khô để đảm bảo khử khuẩn toàn bộ vi khuẩn trên gấu, và có mùi thơm dễ chịu.</li>
                        <li>BÔNG: Phục hồi khả năng ĐÀN HỒI của bông bằng máy Tời. Sau đó soi tia khử khuẩn để loại bỏ nấm mốc và vi khuẩn. Nếu bông không đảm bảo chất lượng, sẽ thay toàn bộ bông mới (được tính theo đơn vị kg).</li>
                    </ul>
                </ul>
                <li><strong>BƯỚC 3:</strong> Bạn tới shop đưa gấu bông đã được giặt sạch về nhà.</li>
            </ul>
            <figure class="text-center">
                <img loading="lazy" decoding="async" class="img-fluid" src="https://gaubongonline.vn/wp-content/uploads/2017/08/z4712769157239_11e9c09508d8082b278d2fb6b176a00f.jpg" alt="Dịch vụ giặt gấu bông" width="802" height="1135">
                <figcaption class="wp-caption-text">Dịch vụ giặt gấu bông</figcaption>
            </figure>
            <h2 style="text-align: center;">————————————–</h2>
            <p><em>Áp dụng với tất cả các mẫu gấu từ nhỏ xíu 20cm đến vừa 1m hay khổng lồ 2m – 5m.</em></p>
            <p><span style="color: #363636;">Bạn có thể tham khảo thêm phương pháp MIỄN PHÍ dưới đây. Dù sao thì không phải lúc nào cũng rủng rỉnh tiền để chăm sóc các em Gấu mà ^^</span></p>
            <h2 style="text-align: center; color: #ff6683;"><strong>HƯỚNG DẪN GIẶT TẠI NHÀ</strong></h2>
            <p><span class="_3gl1 _5zz4">🌟</span><span class="_3gl1 _5zz4">🌟</span><span class="_3gl1 _5zz4">🌟</span></p>
            <p><em>(Chống chỉ định với những người lười)</em></p>
            <ul>
                <li><span style="color: #02c4c1;"><em><strong>Bước 1:</strong></em></span> Hoà bột giặt vào chậu.</li>
                <li><span style="color: #02c4c1;"><em><strong>Bước 2:</strong></em></span> Vò sạch toàn thân em gấu.</li>
                <li><span style="color: #02c4c1;"><em><strong>Bước 3:</strong></em></span> Xả hết xà phòng.</li>
                <li><span style="color: #02c4c1;"><em><strong>Bước 4:</strong></em></span> Rũ sạch nước.</li>
                <li><span style="color: #02c4c1;"><em><strong>Bước 5:</strong></em></span> Tắm nắng.</li>
                <li><span style="color: #02c4c1;"><em><strong>Bước 6:</strong></em></span> Chải lông.</li>
            </ul>
            <p>Và như vậy là chúng ta đã hoàn thành 6 bước đơn giản để giặt gấu bông rồi đó. Còn chần chờ gì nữa mà không thực hiện ngay nhé các bạn. Chắc chắn, những em gấu bông của các bạn sẽ luôn luôn sạch sẽ và bông bay như ngày mới.</p>
        </div>
    </div>
</div>
{% endblock %}
